<h2 class="link"><%= link_to @orig.title, @orig.url, :target => '_blank' %></h2>
<div id="add_trans">
<% form_tag '/posts/add_trans' do %>
  <p><%= collection_select(:post, :ted_id, @languages, :id, :language) %></p>
  <%= hidden_field_tag 'orig_post_id', @orig.id %>
  <%= image_submit_tag 'tran.gif' %>
<% end %>
</div>
<div id="show_content">
  <%= render :partial => 'posts/post', :collection => @posts %>
</div>
