<div id="main">
  <% form_tag '/posts/new' do %>
    <p id="url">
    Which blog post? <br />
    <%=  text_field_tag 'url', @the_url, :size => 80 %>
    </p>
    <p id = "from">
    From: <br />
    <%= collection_select(:post, :origin_id, @languages, :id, :name, {:selected => 1}) %>
    </p>
    <p id = "to">
    To: <br />
    <%= collection_select(:post, :ted_id, @languages, :id, :name) %>
    </p>
    <p id = "submit">
    <%= image_submit_tag("submit.gif") %>
    </p>
  <% end %>
</div>
<!--
<div id="explain">
  <ol>
    <li>Copy and Paste an URL to a blog post  
    <em>(Right now, a Wordpress blog, <%= link_to 'Google\'s official blog', 'http://googleblog.blogspot.com' %> , or <%= link_to 'Paul Graham\'s essays', 'http://www.paulgraham.com/articles.html' %> work well)</em></li>
    <li>Select <em>From</em> and <em>To</em> languages</li>
    <li>Make corrections, save, and share!</li>
  </ol>
</div>
-->
<!--
<p class="notetobloggers">
Hey BLOGGERS! You can now ask your users to translate your blogs to different language.<br />
Just copy and paste this javascript code on your site: <%= copy_translate_me_js_to_clipboard %>
</p>
-->
<div id="latest">
  <h2>Latest Translations</h2>
  <%= render :partial => "posts/post", :collection => @top_posts %>
  <%= link_to(image_tag("view.gif", :border => 0), allposts_welcome_path) %>
</div>
<div id="most">
  <h2>Most Translated Blogs</h2>
  <%= render :partial => "origs/top_orig", :collection => @top_origs %>
  <%= link_to(image_tag("view.gif", :border => 0), origs_path) %>
</div>
<div id="top_users">
  <h2>Top Translators</h2>
  <%= render :partial => "users/top_user", :collection => @top_users %>
  <%= link_to(image_tag("view.gif", :border => 0), users_path) %>
</div>
