<div id="main">
<% form_tag '/posts/new' do %>
	<p id="url">
	Which blog?: <br />
	<%=  text_field_tag 'url', @the_url, :size => 80 %>
	</p>
	<p id = "from">
	From: <br />
	<%= collection_select(:post, :origin_id, @languages, :id, :language, {:selected => "1"}) %>
	</p>
	<p id = "to">
	To: <br />
	<%= collection_select(:post, :ted_id, @languages, :id, :language) %>
	</p>
	<p id = "submit">
	<%= submit_tag 'Submit' %>
	</p>
<% end %>

<p>
<strong>Hey BLOGGERS! You can now ask your users to translate your blogs to different language.<br />
       	Just copy and paste this javascript code on your site: <%= copy_translate_me_js_to_clipboard %>
</strong>
</p>
</div>
<div id="latest">
  <h2>Latest Translations</h2>
  <%= render :partial => @posts %>
  <%= link_to 'More...', showall_posts_path %>
</div>
<div id="most">
  <h2>Most Translated Blog</h2>
  <%= render :partial => "most", :collection => @top_origs %>
  <%= link_to 'More...', orig_posts_path %>
</div>
<div id="top_users">
  <h2>Top Translators</h2>
  <%= render :partial => "top_users", :collection => @top_users %>
</div>
