<div id="main">
  <div id="main_text">
    <p class="show_title"><%= @post.title %></p>
    <p class="show_info">Version: <%= @post.version %>
    <% if logged_in? %>
      <%= link_to '(edit)', edit_orig_post_path(@orig, @post) %>
    <% end %>
    </p>
    <p class="show_info">Language: <%= @post.language.name %></p>
    <p class="show_info">
    <%= link_to 'Additional translations', orig_path(@orig) %> | 
    <%= link_to 'Original blog', @orig.url, :target => '_blank' %>
    </p>
  </div>
  <div id="tweet"><%= link_to(image_tag("tweet.gif", :border => 0), tweetthis(@orig, @post), :target => "_blank") %></div>
</div>

<div id="show_middle">
  <div id="add_trans">
    <% form_tag :action => 'add_trans' do %>
      <p><%= collection_select(:post, :ted_id, @languages, :id, :name) %></p> 
      <%= image_submit_tag 'tran.gif' %>
    <% end %>
  </div>
  <div id="user_info">
    <p class="info">
      Translated by <em><%= @ted_user.username %></em><br />
      <span id="post_rating_<%= @post.id %>"><%= render :partial => 'post_rating', :locals => {:orig => @orig, :post => @post} %></span>
      <!--
      <% average = (@ted_user.rating_average.blank? ? 0 : @ted_user.rating_average) * 100 / 5 %>
      <ul class = 'stars'>
	<li class='current_rating' style='width: <%= "#{average}" %>%'> <%="#{average}"%>%</li>
      </ul><br />
       -->
    </p>
  </div>
</div>

<div id="show_content">
  <%= @post.content %>
</div>
<div id="previous">
  <p class="info"><strong>Previous Versions</strong></p>
  <%= render :partial => "previous", :collection => @prevs %>
</div>
<!--
<p>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/bloglation/embed.js"></script><noscript><a href="http://disqus.com/forums/bloglation/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</p>
<script type="text/javascript">
  //<![CDATA[
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
	query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/bloglation/get_num_replies.js' + query + '"></' + 'script>');
    })();
//]]>
</script>
-->
