<h1><%= @post.title %></h1>
<p>
Original post: <%= link_to @original_post.title, @post.url, :target => "_blank" %><br />
</p>
<p>
Version: <%= @post.version %>  
<% if logged_in? %>
	<%= link_to '(edit)', edit_post_path(@post) %>
<% end %>
 | <%= link_to "Tweet this", @twitterurl, :target => "_blank" %> 
</p>
<% if !@ted_user.nil? %>
<p>
Translated by <em><%= @ted_user.username %></em><br />
<span id="user_rating_<%= @ted_user.id %>"><%= render :partial => 'users/user_rating', :locals => {:user => @ted_user} %></span>
<p>
<% end %>
<% form_tag '/posts/add_trans' do %>
  To: <%= collection_select(:post, :ted_id, @languages, :id, :language) %> 
  <%= hidden_field_tag 'orig_post_id', @post.orig_post_id %>
  <%= submit_tag 'Translate to another language' %>
<% end %>
</p>
<p>
Content: <br />
<%= @post.content %>
</p>
<h2>Previous Versions</h2>
<% for version in @post.versions.reverse %>
		Version <%= link_to version.version, :action => "show", :version => version.version, :id => @post.id %>, 
		updated at <%= version.updated_at %><br />
<% end %>
