<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Bloglation - Translate, Save, and Share!</title>
  <%= javascript_include_tag :defaults %>
  <%= yield :page_includes %>
  <%= stylesheet_link_tag 'style' %>
  <%= include_yui_editor_if_used %>
  <%= fb_connect_javascript_tag %>
  <% init_fb_connect "XFBML", "Api" do %>
     <%= fb_user_action(flash[:user_action_to_publish]) if flash[:user_action_to_publish] %>
  <% end %>

</head>
<body>
  <div id="header">
    <div id = "logo">
      <%= link_to(image_tag("logo.gif", :border => 0), root_url) %>
    </div>
    <div id="loginout">
    <% if logged_in? %>
	<% if @current_user.facebook_user? %>
		 <p>
		 <fb:profile-pic uid="<%= @current_user.fb_user_id %>" facebook-logo="true" size="thumb" ></fb:profile-pic><br />
		 <a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a><br />
		 </p>
        <% else %>
	         Logged in as: <%= @current_user.username %> |
	         <em><%= link_to "Logout", "/logout" %></em>
	<% end %>
    <% else %>
	Please log in using either
	<p>
	<!-- Facebook login -->
	<%= fb_login_button('window.location = "/fb_login";')%> or 

	<!-- Clickpass login -->
        <style> @import 'http://www.clickpass.com/stylesheets/container.css'; </style>
        <div id="clickpass_button" style="width: 176px; height: 28px; position: relative; z-index : 9999 ;">
	<iframe src="http://www.clickpass.com/embedded_buttons/login-standard/<%= @clickpass_site_key %>" width="176" height="28" frameborder="0" allowtransparency="true" scrolling="no" style="z-index:9999;position: absolute; top: 0; left: 0;"></iframe>
        </div>
        <script type="text/javascript" src="http://www.clickpass.com/javascripts/ClickpassPanel.class.external.js?v1"></script>
        <script type="text/javascript"> 
                var clickpassPanel = new ClickpassPanel('clickpass_button');> 
        </script>
	</p>
      <% end %>
    </div>
  <div id="search">
    <p>
    <% form_tag(search_path) do %> 
    <%= text_field_tag 'query' %>
    <%= image_submit_tag("search.gif", :class => 'submit_button') %>
    <% end %>
    </p>
  </div>
</div> <!-- end of header div -->
<% unless flash[:error].blank? %>
  <div id="notification"><strong><em><%= flash[:error] %></em></strong></div>
<% end %>
<%= yield %>
<div id="footer">
  <p class="info"><%= link_to 'Blog', 'http://blog.bloglation.com', :target => '_blank' %> | <%= link_to 'About', '/about' %> | <%= link_to 'Terms', '/tos' %></p>
</div>

<!-- Uservoice -->
<script type="text/javascript">
  var uservoiceOptions = {
    /* required */
    key: 'bloglation',
    host: 'bloglation.uservoice.com', 
    forum: '34170',
    showTab: true,  
    /* optional */
    alignment: 'left',
    background_color: '#06C', 
    text_color: 'white',
    hover_color: '#f00',
    lang: 'en'
  };

  function _loadUserVoice() {
    var s = document.createElement('script');
    s.setAttribute('type', 'text/javascript');
    s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
    document.getElementsByTagName('head')[0].appendChild(s);
  }

  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>

<!-- Google Analytics -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-10418051-5");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

</body>
</html>
